/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
} 

.left {
    float: left;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
#logo {
    height: 70px;
}

#logo img {
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}

nav {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

/* menù creato con inline-block */
nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
}

/* menù con float */
/* nav li {
    list-style: none;
    float: left;
} */

/* main */
main {
    padding-bottom: 20px;
}

.col-sn,
.col-dx {
    width: 25%;
}

.main-content {
    width: 46%;
    margin: 0 2%;
}

/* footer */

footer {
    height: 90px;
    margin-top: 10px;
}


/* ***** debug **** */

.debug main {
    background-color: blue;
}


/* .debug #logo {
    background-color: lightgrey;
} */

/* .debug nav { 
    background-color: tomato;
} */

.debug .jumbo {
    height: 450px;
    background-color: yellow;
}

.debug .slogan {
    height: 70px;
    background-color: lightblue;
}

.debug .col-sn, 
.debug .main-content, 
.debug .col-dx {
    height: 450px;
    background-color: lightblue;
}

.debug footer {
    background-color: violet;
}