/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mb-20 {
    margin-bottom: 20px;
} 


.left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
.header-top {
    height: 100px;
}


/* main */
main {
    padding-bottom: 20px;
}
.col-sn,
.col-dx {
    width: 25%;
}

.main-content {
    width: 46%;
    margin: 0 2%;
}


/* footer */

footer {
    height: 90px;
    margin-top: 10px;
}


/* ***** debug **** */

.debug main {
    background-color: blue;
}
.debug footer {
    background-color: violet;
}

.debug .header-top {
    background-color: purple;
}

.debug .jumbo {
    height: 450px;
    background-color: yellow;
}

.debug .slogan {
    height: 70px;
    background-color: lightblue;
}

.debug .col-sn, 
.debug .main-content, 
.debug .col-dx {
    height: 450px;
    background-color: lightblue;
}